a{
  text-decoration: none;
}
body{
  background: url(img/background.png) no-repeat center center / auto;
  background-attachment: fixed;
    text-align: center;
    font-family: 'Hind', sans-serif;
}
.coming-soon{
  padding-top: 8%;
  font-size: 120px;
  letter-spacing: 10px;
  font-weight: 700;
  line-height: 1.1;
}
.footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
  font-size: 18px;
  text-align: center;
  padding-bottom: 20px;
}
h3{
    letter-spacing: 2px;
  font-weight: 300;
  font-size: 22px;
}

.donate {
  color: #ffffff;
  font-size: 15px;
  background: rgb(119,238,223);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 3px solid rgb(119,238,223);
}

.donate:focus, .donate:hover {
  border: 3px solid #25beab;
  background-color: #25beab;
  color: #ffffff);
  text-decoration: none;
}
